$color-background-gray:#F2F2F2;
$color-background-white:#FFFFFF;
$color-background-blue:#3988FF;
$color-background-danger:rgb(185, 31, 31);
$color-bachground-dark-blue:#054ab1;

$color-gray-light:#CCCCCC;

$color-text-white: #FFFFFF;
$color-text-success: #ADC698;
$color-text-danger: rgb(185, 31, 31);
$color-text-warning: #FFD447;
$color-text-info: #3988FF;
$color-text-light: #D0E3C4;
$color-text-dark: #000000;
$color-text-gray: #E5E5E5;

$mobile: "(max-width: 768px)";
$tablet: "(min-width: 800px) and (max-width: 1023px)";
$desktop: "(min-width: 1024px)";